.leftBar {
  position: absolute;
  width: 52px;
  height: 90%;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #550dc9;
  .menu {
    width: 52px;
    height: 32px;
    margin-top: 24px;
    background-image: url('../../img/Tasks.png');
  }
}
